{% load static %} {% load custom_tags %}  {% get_settings_value PAYPAL_CLIENT_ID "PAYPAL_CLIENT_ID" %} 

<form id="nonce-form" action="{{ payment_complete_url }}" method="POST">
  <input id="nonce-field" name="payment_method_nonce" type="hidden" />
</form>
{% get_settings_value FLUTTERWAVE_PUBLIC_KEY "FLUTTERWAVE_PUBLIC_KEY" %}

<script>
  function makePayment() {
      let payment_complete_url = "{{ payment_complete_url }}";

      FlutterwaveCheckout({
          public_key: "{{ FLUTTERWAVE_PUBLIC_KEY }}",
          tx_ref: "{{ transaction.uuid }}",
          amount: {{ transaction.amount }},
          currency: "{{ transaction.currency }}",
          payment_options: "{{ transaction.payment_method.data.flutterwave_payment_options }}",
          meta: {
              consumer_id: {{ transaction.customer.id }},
              consumer_mac: "{{ transaction.customer.customer_reference }}",
          },
          customer: {
              email: "{{ transaction.customer.email }}",
              phone_number: "{{ transaction.customer.phone }}",
              name: "{{ transaction.customer.first_name }} {{ transaction.customer.last_name }}",
          },
          callback: function (data) {
              fetch(`${payment_complete_url}?tx_ref=${data['tx_ref']}&transaction_id=${data['transaction_id']}&status=${data['status']}`)
                  .then(response => console.log(data));
          },
          onclose: function () {
              // close modal
          },
          customizations: {
              title: "{{ transaction.invoice.provider.name }}",
              description: "Payment for items in cart",
              logo: "https://s3.olitt.com/media/leta/logo.svg",
          },
      });
  }
</script>
<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            currency: "{{ transaction.invoice.currency }}",
            value: {{ transaction.invoice.total }},
            reference_id: "{{ transaction.uuid }}",
            custom_id: "{{ transaction.uuid }}",
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(_details) {
        let payment_complete_url = "{{ payment_complete_url }}";
        fetch(`${payment_complete_url}?payment_processor=paypal&order_id=${data.orderID}&facilitatorAccessToken=${data.facilitatorAccessToken}`)
                  .then(_response => {
                    window.location.reload();
                  });
      });
    }
  }).render('#paypal-button-container');
</script>


<script>
  const stripe = Stripe(
    "pk_test_51Kt455AVsErfOrz5rWoozmVZer7znsE4lbAliRNIgYRT8E7e3q0PDFjblX4dD6reWegif33Kdq5jTvIfXcQV6OUn006qgv1U9b"
  );
  const options = {
    clientSecret: "{{ client_secret }}",
    // Fully customizable with appearance API.
    appearance: {
      /*...*/
    },
  };

  // Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in step 2
  const elements = stripe.elements(options);

  // Create and mount the Payment Element
  const paymentElement = elements.create("payment");
  paymentElement.mount("#payment-element");
  const form = document.getElementById("payment-form");

  form.addEventListener("submit", async (event) => {
    event.preventDefault();
    stripe.confirmPayment({
      elements,
      confirmParams: {
        return_url: "{{ payment_complete_url }}?payment_processor=stripe",
        payment_method_data: {
          billing_details: {
            name: "",
            email: "",
          },
        },
      },
    });

//     const response = fetch('/secret').then(function(response) {
//   return response.json();
// }).then(function(responseJson) {
//   const clientSecret = responseJson.client_secret;
//   // Call stripe.confirmCardPayment() with the client secret.
// });

  });
</script>
