{% load static %} {% load custom_tags %}

<form id="nonce-form" action="{{ payment_complete_url }}" method="POST">
  <input id="nonce-field" name="payment_method_nonce" type="hidden" />
</form>
{% get_settings_value FLUTTERWAVE_PUBLIC_KEY "FLUTTERWAVE_PUBLIC_KEY" %}
{% get_settings_value STRIPE_PUBLISHABLE_KEY "STRIPE_PUBLISHABLE_KEY" %}
{% get_settings_value PAYPAL_CLIENT_ID "PAYPAL_CLIENT_ID" %}
{% get_settings_value SILVER_FLUTTERWAVE_BRAND_LOGO "SILVER_FLUTTERWAVE_BRAND_LOGO" %}
<script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}"></script>
<script>
  function initFlutterwavePayment() {
    let payment_complete_url = "{{ payment_complete_url }}";

    FlutterwaveCheckout({
      public_key: "{{ FLUTTERWAVE_PUBLIC_KEY }}",
      tx_ref: "{{ transaction.uuid }}",
      amount: {{ transaction.amount }},
      currency: "{{ transaction.currency }}",
      payment_options: "{{ transaction.payment_method.data.flutterwave_payment_options }}",
      meta: {
        consumer_id: {{ transaction.customer.id }},
        consumer_mac: "{{ transaction.customer.customer_reference }}"
      },
      customer: {
        email: "{{ transaction.customer.email }}",
        phone_number: "{{ transaction.customer.phone }}",
        name: "{{ transaction.customer.first_name }} {{ transaction.customer.last_name }}"
      },
      callback: function(data) {
        fetch(`${payment_complete_url}?tx_ref=${data["tx_ref"]}&transaction_id=${data["transaction_id"]}&status=${data["status"]}`)
          .then(response => console.log(data));
      },
      onclose: function() {
        // close modal
        window.location.reload()
      },
      customizations: {
        title: "{{ transaction.invoice.provider.name }}",
        description: "Payment for the order",
        logo: "{{SILVER_FLUTTERWAVE_BRAND_LOGO}}"
      }
    });
    }

  function initPaypalPayment(){
    document.getElementById('paypal-button-container').innerHTML = "";
    paypal.Buttons({
      style: {
        shape: 'rect',
        color: 'gold',
        layout: 'vertical',
        label: 'paypal',
        
      },
      createOrder: function(data, actions) {
        // This function sets up the details of the transaction, including the amount and line item details.
        return actions.order.create({
          purchase_units: [{
            amount: {
              currency: "{{ transaction.invoice.currency }}",
              value: {{ transaction.invoice.total }},
              reference_id: "{{ transaction.uuid }}",
              custom_id: "{{ transaction.uuid }}"
            }
          }]
        });
      },
      onApprove: function(data, actions) {
        // This function captures the funds from the transaction.
        return actions.order.capture().then(function(_details) {
          let payment_complete_url = "{{ payment_complete_url }}";
          fetch(`${payment_complete_url}?payment_processor=paypal&order_id=${data.orderID}&facilitatorAccessToken=${data.facilitatorAccessToken}`)
            .then(_response => {
              // window.location.reload();
              console.log('success')
            });
        });
      },
      onError: function(err) {
        console.log(err);
      }
    }).render("#paypal-button-container");    
    }


  function initStripePayment() {
    
    // initialize stripe once form is visible

    stripe = Stripe("{{ STRIPE_PUBLISHABLE_KEY }}");

    const options = {
      clientSecret: "{{ client_secret }}",

      // Fully customizable with appearance API.
      appearance: {
        /*...*/
      },
    };

    // Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in step 2
    const elements = stripe.elements(options);

    // Create and mount the Payment Element
    const paymentElement = elements.create("payment");
    paymentElement.mount("#stripe-payment-element");
    const stripe_payment_form = document.getElementById("stripe-payment-form");

    stripe_payment_form.addEventListener("submit", async (event) => {
      event.preventDefault();
      stripe.confirmPayment({
        elements,
        confirmParams: {
          return_url: "{{ payment_complete_url }}?payment_processor=stripe",
          payment_method_data: {
            billing_details: {
              name: "",
              email: "",
            },
          },
        },
      });
    });
  }

</script>
<script src="https://checkout.flutterwave.com/v3.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
